<footer class="container-fluid">
  <!-- container -->
  <section class="container">
    <!-- menus -->
    <div class="linha text-center">
      <p>______________________________________________________</p>
    </div>
    <!-- icons contato -->
    <ul>
      <li><a href="#"><img src="assets/images/favicons/facebook.png" alt="facebook"></a></li>
      <li><a href="#"><img src="assets/images/favicons/instagran.png" alt="instagran"></a></li>
      <li><a href="#"> <img src="assets/images/favicons/whatsapp.png" alt="whatsapp"></a></li>
      <li><a href="#"><img src="assets/images/favicons/tweeter.png" alt="twitter"></a></li>
      <li><a href="#"><img src="assets/images/favicons/email.png" alt="email"></a></li>
    </ul>
    <div class=termos-politica>
      <a href="#" id="termos">Termos de uso</a>
      <a href="#" id="politic-privacid">Política de Privacidade</a>
      <p>© 2021 por MOV AIRSOFT. Todos os direitos reservados</p>
    </div>
    <!-- end menus -->
  </section>
  <!-- end container -->
</footer>
