 <!-- main -->
 <main class="container-eventos">
  <section class="container produtos">
    <!-- Eventos Disponíveis -->
    <article>
      <h2 class="d-flex justify-content-center">EVENTOS DISPONÍVEIS</h2>

      <div class="conteudo-eventos1">
        <img src="./assets/images/imgLocal.jpeg" class="imagem3">
        <div class="texto1">
          <p> <strong>Airsoft Day</strong><br /> Evento das melhores equipes
            em São Paulo,venha e se junte a nós nesta
            aventura. Será na região de Mogi das Cruzes no dia 01/10/2021 ás
            08h00 encontre uma equipe ou traga a sua.</p>
          <button type="submit" class="click1">
            <a href="#"> Clique aqui para participar desse evento</a>
          </button>
        </div>
      </div>

      <div class="conteudo-eventos2">
        <img src="./assets/images/imgLocal.jpeg" class="imagem3">
        <div class="texto2">
          <p> <strong>Batalha de Airsoft</strong><br /> Não perca esta
            oportunidade de explorar suas emoções, se cadastre e venha pra ZL. Parque do Carmo em Itaquera - SP dia
            01/11/2021 as 10h.</p>
          <button type="submit" class="click2">
            <a href="#"> Clique aqui para participar desse evento</a>
          </button>
        </div>
      </div>
      <div class="conteudo-eventos3">
        <img src="./assets/images/imgLocal.jpeg" class="imagem3">
        <div class="texto3">
          <p><strong>MovAirsoft</strong> <br />Antes de iniciar como jogador,
            é importante estar atento a algumas dicas importantes.Separamos algumas dicas para te ajudar, venha
            participar do nosso evento e fazer parte
            desta aventura. Ibiapuera SP dia 25/12/2021 ás 09h30.</p>
          <button type="submit" class="click3">
            <a href="#"> Clique aqui para participar desse evento</a>
          </button>
        </div>
      </div>
      </article>
  </section>
  <!-- listagem dos produtos -->
  <!-- end container produtos -->
</main>
<!-- end main -->
