<!-- ínicio da MAIN-->
<main class="cadastro">
  <section class="container produtos">
    <h2 class="d-flex justify-content-center">CADASTRO DO USUÁRIO</h2>
    <div class="formulario d-flex justify-content-between">
      <!-- <figure class="figure">
          <img src="assets/images/adicionar-img.jpeg" class="imagem4
              figure-img col-md-12 img-fluid rounded float-left" alt="caixa para adicionar equipe">
          <figcaption class="figure-caption">Adicione sua imagem</figcaption>
           <input type="file" id="fileimage" />
        </figure> -->
      <form [formGroup]="userForm" id="formulario" (ngSubmit)="create(userForm.getRawValue())">
        <fieldset id="dados">
          <p><label for="nome">Nome:</label><input formControlName="nome" type="text" name="tnome" id="nome" size="40" required></p>
          <p><label for="apelido">Apelido: </label><input formControlName="apelido" type="text" name="tapelido" id="apelido" size="39" required>
          </p>
          <p><label for="nasc">Data de Nasc: </label><input formControlName="dataNasc" type="date" name="tnasc" id="nasc"></p>
          <label for="sexo">Sexo:</label><select formControlName="sexo" name="" id="sexo">
            <option selected disabled value="">Selecione</option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
          </select>
          <p><label for="email">Email: </label><input formControlName="email" type="email" name="tmail" id="email" size="41" required></p>
          <p><label for="senha">Senha: </label><input formControlName="senha" type="password" name="tsenha" id="senha" size="41" required></p>
        </fieldset>
        <button type="submit" name="botao" id="botao" [disabled]="userForm.invalid">CADASTRAR</button>
      </form>
    </div>
  </section>
</main>
<!-- end main -->
