  <!-- main -->
  <main class="cad_equipe">
    <section class="container produtos">
      <h2 class="d-flex justify-content-center">CRIE SUA EQUIPE</h2>
      <div class="formulario d-flex justify-content-between">
        <!-- <figure class="figure">
          <img src="assets/images/adicionar-img.jpeg" class="imagem4 figure-img col-md-10 img-fluid rounded float-left"
            alt="caixa para adicionar equipe">

          <figcaption class="figure-caption">Adicione um imagem da sua equipe</figcaption>
        </figure> -->
        <form method="post" id="formulario" action="#">
          <fieldset id="dados">
            <p><label for="team_name">Nome da equipe: </label><input type="text" name="tname" id="team_name" size="40">
            </p>
            <!-- <p><label for="pais">Pais:</label><input type="text" name="tpais" id="pais"></p>
            <p><label for="uf">UF</label>
              <select name="uf" id="uf" required>
                <option value="SP">SP</option>
                <option value="RJ">RJ</option>
                <option value="MG">MG</option>
                <option value="GO">GO</option>
                <option value="SC">SC</option>
                <option value="PR">PR</option>
              </select>
            </p> -->
            <p><label for="tipoeve">Modalidade: </label>
              <select name="select" id="tipoeve">
                <option selected disabled value="">Escolha</option>
                <option value="SK">Skirmish</option>
                <option value="MI">Milsim</option>
                <option value="DM">Deathmatch</option>
                <option value="CB">Capture the Flag</option>
                <option value="MH">Man Hunt</option>
                <option value="HT">Hostage</option>
              </select>
            </p>
            <!-- <p><label for="cidade">Cidade: </label><input type="text" name="tcid" id="cidade" size="40"></p> -->
            <p><label for="team_members">Membros da equipe:</label><input type="text" name="tmembers" id="team_members"
                size="40"></p>
            <p><label for="team_members"></label><input type="text" name="tmembers" id="team_members"
                size="40">
            </p>
            <p><label for="team_members"></label><input type="text" name="tmembers" id="team_members" size="40">
            </p>
            <p><label for="team_members"></label><input type="text" name="tmembers" id="team_members" size="40">
            </p>
            <p><label for="team_members"></label><input type="text" name="tmembers" id="team_members" size="40">
            </p>
            <p><label for="team_members"></label><input type="text" name="tmembers" id="team_members" size="40">
            </p>
            <p><label for="team_members"></label><input type="text" name="tmembers" id="team_members" size="40">
            </p>
            <p><Label for="team_history">Descrição da equipe:</Label>
              <textarea name="caixa" id="team_history" cols="50" rows="10" maxlength="300" minlength="20"></textarea>
            </p>
          </fieldset>
          <button>CADASTRAR EQUIPE</button>
        </form>
      </div>
    </section>
  </main>
