<!-- main -->
<main class="cad_equipe">
  <section class="container produtos">
    <h2 class="d-flex justify-content-center">CRIE SUA EQUIPE</h2>
    <div class="formulario d-flex justify-content-between">
      <form [formGroup]="formTeam" id="formulario" (ngSubmit)="addTeam(formTeam.value)">
        <fieldset id="dados">
          <p><label for="team_name">Nome da equipe: </label><input type="text" formControlName="nome" name="tname"
              id="team_name" size="40">
          </p>

          <p><label for="tipoeve">Modalidade: </label>
            <select name="select" id="tipoeve" formControlName="modalidade">
              <option selected disabled value="">Escolha</option>
              <option value="SK">Skirmish</option>
              <option value="MI">Milsim</option>
              <option value="DM">Deathmatch</option>
              <option value="CB">Capture the Flag</option>
              <option value="MH">Man Hunt</option>
              <option value="HT">Hostage</option>
            </select>
          </p>
          <!-- <p><label for="cidade">Cidade: </label><input type="text" name="tcid" id="cidade" size="40"></p> -->
          <div formArrayName="jogadores">
            <p><label for="team_members">Membros da equipe:</label><input type="text" [formControlName]="0" name="tmembers" id="team_members"
                size="40"></p>
            <p><label for="team_members"></label><input type="text" [formControlName]="1" name="tmembers" id="team_members" size="40">
            </p>
            <p><label for="team_members"></label><input type="text" [formControlName]="2" name="tmembers" id="team_members" size="40">
            </p>
            <p><label for="team_members"></label><input type="text" [formControlName]="3" name="tmembers" id="team_members" size="40">
            </p>
            <p><label for="team_members"></label><input type="text" [formControlName]="4" name="tmembers" id="team_members" size="40">
            </p>
            <p><label for="team_members"></label><input type="text" [formControlName]="5" name="tmembers" id="team_members" size="40">
            </p>
            <p><label for="team_members"></label><input type="text" [formControlName]="6" name="tmembers" id="team_members" size="40">
            </p>
          </div>
          <p><Label for="team_history">Descrição da equipe:</Label>
            <textarea name="caixa" id="team_history" formControlName="descricao" cols="50" rows="10" maxlength="300" minlength="20"></textarea>
          </p>
        </fieldset>
        <button type="submit">CADASTRAR EQUIPE</button>
      </form>
    </div>
  </section>
</main>
